.btn {
  width: 40px;
  height: 40px;
  color: #42567a;
  border-radius: 50%;
  border: 1px solid #e5e7eb;
  cursor: pointer;

  &__event {
    width: 40px;
    height: 40px;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    box-shadow: 0px 0px 15px 4px rgba(56, 119, 238, 0.2);
    padding-bottom: 5px;

    span {
      color: #3877ee;
      font-size: 24px;
      font-weight: bold;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
    }
  }

  &__navigation {
    width: 50px;
    height: 50px;
    padding-bottom: 8px;

    span {
      font-size: 30px;
    }
  }
}

@media (max-width: 320px) {
  .btn {
    &__navigation {
      width: 25px;
      height: 25px;
      padding-bottom: 8px;
  
      span {
        font-size: 17px;
      }
    }
  }
}